<?xml version="1.0"?>
<Configuration 
  xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge" 
  xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration" 
  xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions" 
  xmlns:list="http://www.sdltridion.com/2009/GUI/extensions/List" 
  xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu"
  xmlns:edt="http://www.sdltridion.com/2009/GUI/Configuration/Merge">
  <resources>
    <cfg:groups />
  </resources>

  <definitionfiles />

  <extensions>
    <ext:editorextensions>
      <ext:editorextension target="CME">
        <ext:editurls />
        <ext:listdefinitions />
        <ext:itemicons />
        <ext:taskbars />
        <ext:commands />
        <ext:commandextensions />
        <ext:contextmenus />
        <ext:lists>
          <ext:add>
            <ext:extension name="MyColumnExtender" assignid="MyColumnExtenderID" insertbefore="FromPub" >
              <ext:listDefinition>
                <ext:selectornamespaces />
                <ext:columns>
                  <list:column id="SchemaId" type="data" title="Schema Id" selector="@SchemaId" />
                </ext:columns>
              </ext:listDefinition>
              <ext:apply>
                <ext:view name="*">
                  <ext:control id="*" />
                </ext:view>
              </ext:apply>
            </ext:extension>
          </ext:add>
        </ext:lists>
        <ext:tabpages />
        <ext:toolbars />
        <ext:ribbontoolbars />
        <ext:extendedareas />
        <ext:optionspanels />
      </ext:editorextension>
    </ext:editorextensions>

    <ext:dataextenders />

  </extensions>

  <commands />

  <contextmenus />

  <localization />

  <settings>
    <dependencies />
    <defaultpage />
    <editurls />
    <listdefinitions />
    <theme>
      <path>/Themes/</path>
    </theme>
    <customconfiguration />
  </settings>
</Configuration>
